@import "variable";
@import "helper";
@import "form";

@import "subscription";
@import "carousel";
@import "account";

.primary {
    color: $primary;
}
.primaryLight {
    color: $primary-light;
}

.secondary {
    color: $secondary;
}

.inversed-color {
    color: #fff;
}
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    #app {
        background: #F3F3F3;
        color: $primary-color;
        margin: 0;

        .brand {
            img {
                height: 50px;
                margin: auto;
            }

            h1 {
                display: inline-block;
                text-decoration: underline $primary;

                &:hover {
                    text-decoration: underline $primary-dark;
                }
            }
        }

        .firstStep {
            padding: 75px 0 150px;
        }

        .secondStep {
            background-color: $secondary;
        }

        .thirdStep {
            background-color: #fff;
            color: #525A75;
            height: 500px;
            img {
                height: 100px;
            }
        }

        .priceStep {
            background-color: $primary-dark;
            text-align: center;

            .pricingTitle {
                color: $cWhite;
                font-size: $extra-large-font-size;
                margin-top: 2rem;
            }


        }

        .content {
            .signUp {
                background: #fff;
                border-radius: 5px;
            }
        }

        .timeline {
            padding: 15px;
        }
    }
}

